<header class="d-md-none d-lg-block d-sm-none d-none">
  <div class="container">
    <div class="topbar">
      <div class="topbar-wraper">
        <div class="logo">
          <a href="index.html"><img src="image/endogastrodiipro.svg" alt="EndogastroDii Pro" width="180" /></a>
        </div>
        <div class="contact">
          <div class="phone spase d-flex align-items-center">
            <div class="icon">
              <i class="fa-regular fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="icon-content">
              <p>E-mail para Contato</p>
              <span>contato@endogastrodiipro.com</span>
            </div>
          </div>
          <div class="phone spase d-flex align-items-center">
            <div class="icon">
              <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
            </div>
            <div class="icon-content">
              <p>Atendimento via WhatsApp</p>
              <span>+55 (11) 99999-9999</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-box" id="sticky-header">
      <div class="sticky-logo">
        <a href="index.html"><img src="image/endogastrodiipro.svg" alt="EndogastroDii Pro" width="180" /></a>
      </div>
      <div class="main-menu">
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#cursos">Cursos</a></li>
            <li><a href="#especialistas">Especialistas</a></li>
            <li><a href="contact.html">Contato</a></li>
          </ul>
        </nav>
      </div>
      <div class="right-content">
        <div class="icon d-flex">
          <div class="header-right-side">
            <div class="header-src-btn">
              <div class="search-box-btn search-box-outer">
                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
        </div>
        <div class="button">
          <a href="#cursos">INSCREVA-SE AGORA
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mobile-menu-area d-sm-block d-md-block d-lg-none">
  <div class="mobile-menu">
    <nav class="main-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#cursos">Cursos</a></li>
        <li><a href="#especialistas">Especialistas</a></li>
        <li><a href="contact.html">Contato</a></li>
      </ul>
    </nav>
  </div>
</div>